body {
    background-color: #262626;
    color: #8c8c8c;
    background-image: url(http://static1.squarespace.com/static/53be0bebe4b0c29b7e2a5d99/t/545010fee4b0f7755a4417d1/1414533375689/concert-smoke-stage-audience-applause-the-darkness-the-crowd-resized.jpg?format=1500w) !important;
    background-size: cover !important;
    font-family: 'Bitter', serif;
}

.carousel-img {
    width: 100% !important;
    height: 100% !important;
}

.item {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#profile-img {
    width: 200px;
    height: 200px;
}

#info {
    display: inline-block;
}

.indent {
    margin-left: 20px;
}

.div-box {
    background-color: #1a1a1a !important;
    padding: 10px;
    border: 2px solid #8c8c8c;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 
}

#upload-form {
    margin-left: 20px;
}

.input-box {
    width: 100%;
    height: 150px;
    color: black;
    border-radius: 4px;
}

.check {
    margin-left: 3px;
    margin-right: 3px;
}

.profile-submit {
    float: right;
}

textarea {
    resize: none;
}

#audio-player {
    text-align: center;
    width: 29%;
    display: block;
    margin-left: 40%;
}

#lyrics {
    height: 50%;
}

.comment {
    margin: 10px;
    width: 100%;
}

.darkTextArea {
   
    background-color: #404040 !important;
    color: #bfbfbf !important;
}
