
<div class="row">
    <div class="col-md-4 col-md-offset-1 div-box">
        <h3>Instruments you play</h3>
        <label class="check">
            <input type="checkbox" disabled />
            Electric Guitar
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Bass Guitar
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Drums
        </label>
        <label class="check">
            <input type="checkbox" disabled/>
            Vocals
        </label>
        <br /> 
        <label class="check">
            <input type="checkbox" disabled />
            Keyboard/Piano
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Wind instrument
            
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            String instrument
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Other
        </label>
    </div>
    <div class="col-md-4 col-md-offset-1 div-box">
        <h3>Music genres you like</h3>
        <label class="check">
            <input type="checkbox" disabled />
            Rock
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Metal
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Country
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Alternative
        </label>
        <br />
        <label class="check">
            <input type="checkbox" disabled />
            Blues
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Punk
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Folk
        </label>
        <label class="check">
            <input type="checkbox" disabled />
            Experimental
        </label>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1 div-box">
        <h3>Tell us about some of your influences</h3>
        <textarea rows="1" cols="26" name="reply" class="input-box"></textarea>
    </div>
    <div class="col-md-4 col-md-offset-1 div-box">
        <h3>Tell us about yourself</h3>
        <textarea rows="1" cols="26" name="reply" class="input-box"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <br />
        <button ng-click="controller.pickFile()" class="btn btn-default">Upload Profile Image</button>

        
    </div>
    <div class="col-md-4 col-md-offset-1">
        <br />
        <input type="submit" value="Submit" class="btn btn-default profile-submit"/>
    </div>

</div>