<br />
<br />


<div class="row">
    <form>
        <div class="col-md-4 col-md-offset-1 div-box form-div">

            <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control" ng-model="controller.registerUser.firstName" />
                <br />
                <label>Username:</label>
                <input type="text" class="form-control" ng-model="controller.registerUser.userName" />
                <br />
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="controller.registerUser.password" />
                <br />
                <label>Password Verification:</label>
                <input type="password" class="form-control" ng-model="controller.registerUser.confirmPassword" />

            </div>
        </div>
        <div class="col-md-4 col-md-offset-1 div-box form-div">
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control" ng-model="controller.registerUser.lastName"/>
                <br />
                <label>Age:</label>
                <input type="number" class="form-control" ng-model="controller.registerUser.age"/>
                <br />
                <label>Email:</label>
                <input type="email" class="form-control" ng-model="controller.registerUser.email"/>
                <br />
                <br />
                <input type="submit" value="Submit" class="btn btn-default" ng-click="controller.register()"/>
            </div>
        </div>
    </form>
</div>