<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="div-box">
            <div class="row text-center">
                <h1>{{controller.song.name}}</h1>
                <!-- player here? -->
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4>Uploaded by: {{controller.song.uploader}}</h4>
                    <!-- comments go here -->
                    <form action="/" method="post">
                        <!-- write a comment here -->
                    </form>
                    <table>
                        <tr ng-repeat="comment in controller.song.comments">
                            <td>{{comment.id}} </td>
                            <td>{{comment.message}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h4>Lyrics:</h4>
                    <h1>{{controller.song.lyrics}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
