<div class="row">
    <div class="col-md-12">
        <h2>The Studio</h2>
        <hr />
        
        <a href="/uploadSong" class="btn btn-default">Upload a song</a>
        <br />
        <!--Bootstrap Table-->
        <div class="div-box">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Uploaded By</th>
                        <th>Song Title</th>
                        <th>Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="song in controller.songs">
                        <td>{{song.uploader}}</td>
                        <td>{{song.name}}</td>
                        <td>
                            <a href="/songDetail/{{song.id}}">Check it out</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-default glyphicon glyphicon-edit" href="/editSong/{{song.id}}">Edit</a>
                            <a role="button" class="btn btn-default glyphicon glyphicon-remove" href="/deleteSong/{{song.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--end bootstrap table-->